@tailwind base;
@tailwind components;
@tailwind utilities;

/* 添加滚动条样式 */
.timeline-scroll::-webkit-scrollbar {
  height: 8px;
}

.timeline-scroll::-webkit-scrollbar-track {
  background: #F3F4F6;
  border-radius: 4px;
}

.timeline-scroll::-webkit-scrollbar-thumb {
  background: #93C5FD;
  border-radius: 4px;
}

.timeline-scroll::-webkit-scrollbar-thumb:hover {
  background: #60A5FA;
}
